@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Space+Mono:wght@400;700&display=swap');
:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Dark-grayish-cyan2: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Light-grayish-cyan2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--Light-grayish-cyan);
    font-family: 'Space Mono', monospace;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}

/* LOGO */
.logo{
    
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    width: 4rem;
}
.logo img{
    width: 100%;
}

/* CAlCULATOR-CONTAINER */
.calculator-container{
    background-color: var(--White);
    border-radius: 1rem;
    width: 40rem;
    height: 24rem;

    display: flex;
    align-items: center;
    justify-content: center;

}
/* LEFT CONTAINER */
.left-container{
    width: 45%;
    height: 85%;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
.left-container label{
    color: var(--Dark-grayish-cyan2);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0.2rem;
}
#bill,.people-count input{
    height: 2rem;
    text-align: right;
    background: url(/tip-calculator-app-main/images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: left 18px top 8px;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    font-weight: 700;

    border-radius: 0.3rem;
    border: none;
    color: var(--Dark-grayish-cyan);
    background-color:var(--Light-grayish-cyan2);

    outline-color: var(--Strong-cyan);
    
    cursor: pointer;
    width: 100%;
}

.buttons h4{
    color: var(--Dark-grayish-cyan2);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0.2rem;
    margin-top: 3rem;
    
}
.buttons button,.buttons input{
    display: inline;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    font-weight: 700;
    width: 30%;
    height: 2rem ;
    margin: 0.4rem 0;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
}
.buttons button{
    background-color: var(--Very-dark-cyan);
    color: var(--Light-grayish-cyan2);
    
   
}
.buttons button:focus{
    background-color:var(--Light-grayish-cyan);
    color: var(--Very-dark-cyan) ;
}
.buttons input{
    outline-color: var(--Strong-cyan);
    text-align: right;
    color: var(--Very-dark-cyan);
    background-color: var(--Light-grayish-cyan2);
}

.people-count{
    display: inline-block;
    color: var(--Dark-grayish-cyan2);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0.2rem;
    margin-top: 3.1rem;
}
.people-count h4{
    display: flex;
    justify-content: space-between;
    
}
.people-count h4 .error-msg{
    font-size: 12px;
    color: red;
    opacity: 0;
}
.people-count input{
    background: url(/tip-calculator-app-main/images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: left 18px top 8px;
}



/* RIGHT CONTAINER */
.right-container{
    background-color: var(--Very-dark-cyan);
    width: 45%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
}

.tip, .total{
    display: flex;
    color: var(--White);
    width: 100%;
    height: 100%;
    justify-content: space-between;
    
}

.tip p,.total p{
    font-size: 0.7rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: var(--Dark-grayish-cyan2);
}
.tip h2, .total h2{
    color: var(--Strong-cyan);
}

#reset{
    background-color: var(--Strong-cyan);
    border:none;
    border-radius: 0.3rem;
    cursor: pointer;
    color:var(--Very-dark-cyan);
    font-weight: 700;
    height: 5rem;
}
#reset:hover{
    background-color: var(--Light-grayish-cyan);
}

/* Media Queries------------*/

@media (max-width:650px){
    body{
        overflow: scroll;
    }
    /* LOGO */
    .logo{
        margin-top: 2rem;
    }
    /* CALCULATOR CONTAINER */
    .calculator-container{
        margin-top: -2rem;
        flex-direction: column;
        height: 100% ;
        width: 100% ;   
    }


    /* LEFT SIDE, NOW IS TOP SIDE */
    .left-container{
        width: 80%;
        height: 45%;
        margin-top: 2rem;
        
    }
    /* BUTTONS AND INPUT CUSTOM */
    .buttons{

       width: 110%;
       margin-top: 1rem;
       
    }
    .buttons h4{
        margin: 0;
    }
    .buttons button, .buttons input{
        width: 48%;
        height: 3.5rem;
        padding: 0;
        font-size: 1.5rem;
    }



    /*PEOPLE COUNT   */
    .people-count{
        margin-top: 2rem ;
        width: 110%;

        
    }
    .people-count input, #bill{
        height: 3.5rem;
        width: 100%;
        background-position: left 18px top 20px;
        font-size: 1.5rem;
    }
    #bill{
        width: 110%;
    }
    /* RIGHT CONTAINER, NOW IS BOTTOM SIDE */
    .right-container{
        width: 80%;
        height: 40%;
        margin-top: 2rem;
        margin-bottom: 3rem;

    }
    .right-container #reset{
        height: 3.5rem;
        margin-top: 1rem;
    }
}